@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

.steps-list{
  max-width: 1100px;
  width: 100%;
  margin: auto;
  font-weight: bold;
  text-align: left;
  h3{
    text-align: center;
    margin-bottom: 5rem;
    color: $main-color;
    &:after{
      border-top: 0;
    }
  }
  span{
    display: block;
    margin: auto;
    font-size: 10rem;
  }
}
