@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

main{
  margin-top:15rem;
}

.cooperation-container{
  hr{
    border-top: 2px solid $second-color;
  }
}

.steps-list{
  max-width: 1100px;
  width: 100%;
  margin: auto;
  font-weight: bold;
  h3{
    text-align: center;
    color: $main-color;
  }
  hr{
    padding: 5px;
  }
  span{
    display: block;
    margin: auto;
    font-size: 10rem;
  }
}
