@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

main{
  margin-top:15rem;
}

.offering-container{
  h3{
    color: $main-color;
  }
}

.tabs{
  margin: 0 1rem;
  li{
    display: inline-block;
    padding: .5rem 2rem;
    margin: 0;
    width: 100%;
    border: 1px solid #d7e8fa;
    border-bottom: 0;
    text-transform: uppercase;
    color: $second-color;
    font-weight: bold;
    font-size: 2rem;
    @include media(md){
      width: 15%;
      margin: 0 4rem 0 0;
      font-size: 1.25rem;
    }
    @include media(lg){
      width: 10%;
    }
    &:before{
      background: none;
    }
    &.active{
      background-color: #d7e8fa;
    }
  }
}

.btn-orange{
  background-color: $main-color;
  color: $base-white;
  &:hover,
  &:focus{
    background-color: $base-white;
    color: $main-color;
  }
}
