@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

.tabs{
  text-align: center;
  margin: 5rem 1rem 0;
  li{
    display: inline-block;
    padding: .5rem 2rem;
    margin: 0;
    width: 100%;
    border: 1px solid #d7e8fa;
    border-bottom: 0;
    text-transform: uppercase;
    color: $second-color;
    font-weight: bold;
    font-size: 2rem;
    @include media(md){
      width: 15%;
      margin: 0 4rem 0 0;
      font-size: 1.25rem;
    }
    @include media(lg){
      width: 10%;
    }
    &:before{
      background: none;
    }
    &.active{
      background-color: #d7e8fa;
    }
  }
}
