@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

main{
  margin-top:15rem;
}

.career-container{
  hr{
    margin: 40px auto 0;
  }
  h3{
    color: $main-color;
  }
  .career-list{
    &-title{
      h4{
        padding-left: 15px;
        padding-bottom: 2rem;
        color: $main-color;
      }
    }
  }
}

.contact-container{
  h4{
    font-weight: bold;
    text-transform: uppercase;
    color: $main-color;
  }
}

.steps-list{
  font-weight: bold;
  @include media(md){
    margin: auto;
    width: 75%;
  }
  h3{
    text-align: center;
    color: $main-color;
  }
  hr{
    padding: 5px;
  }
}

.recaptcha-box{
  height: 100%;
  width: 100%;
  margin-left: 2rem!important;
  vertical-align: middle;
  //margin-right: 0;
  padding: 1.25rem;
  border: 1px solid #d7e8fc;
  background-color: #f5f5f5;
}

.wanted{
  position: relative;
  img{
    z-index: -1;
    @include media(md){
      @include transform(scale(0.4));
      position:absolute;
      bottom: -35rem;
      right: 5%;
    }
    @include media(lg){
      bottom: -40rem;
    }
    @include media(xl){
      bottom: -40rem;
    }
    @include media(xxl){
      bottom: -40rem;
    }
    @include media(xxxl){
      bottom: -45rem;
    }
  }
}
