@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

.career-container{
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  &.career-page{
    h3{
      color: $main-color;
      &:after{
        margin: auto;
      }
    }
  }
  .career-list{
    padding: 10rem 0;
    @include media(lg){
      padding-left: 5rem;
      padding-right: 5rem;
    }
    &-title{
        padding-left: 20px;
        padding-bottom: 2rem;
        color: $main-color;
    }
  }
}

.contact-container{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 5rem 0;
  h4{
    font-weight: bold;
    text-transform: uppercase;
    color: $main-color;
  }
}

.steps-list{
  font-weight: bold;
  @include media(md){
    margin: auto;
    width: 75%;
  }
}

.wanted{
  position: relative;
  img{
    z-index: -1;
    @include media(md){
      @include transform(scale(0.4));
      position:absolute;
      top: -55rem;
      bottom: -35rem;
      right: 5%;
    }
  }
}
