@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

#checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    @include opacity(0);
    cursor: pointer;
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: lighten($main-color,30);
    &:after {
      position: absolute;
      display: none;
    	content: "+";
      left: 11px;
      top: 1px;
      color: $second-color;
      font-weight: bold;
      width: 5px;
      height: 10px;
      @include transform(rotate(45deg));
    }
  }
  &:hover input ~ .checkmark {
    background-color: lighten($main-color,20);
  }
  & input:checked ~ .checkmark {
    background-color: lighten($main-color,30);
  }
  &:checked ~ .checkmark:after {
    display: block;
  }
}
