@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

.building-detail{
  &-head{
    &-title{
      font-weight: bold;
      font-size: 5rem;
      letter-spacing: 2px;
      float: left;
      &-number{
        letter-spacing: normal;
        font-size: 2rem;
        font-weight: normal;
        dl{
          dt{
            float:left;
            font-weight: normal;
            padding-right: 1rem;
          }
        }
      }
    }
    &-price{
      float: right;
      padding: 1.5rem;
      color: $base-white;
      background-color: $main-color;
      text-align: center;
      &-number{
        font-weight: bold;
        font-size: 3.5rem;
      }
      &-label{
        font-size: 1.5rem;
      }
    }
  }
  &-content{
    clear: both;
    &-description{
      &-title{
        color: $main-color;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 1px solid #d7e8fa;
      }
      &-parameters{
        &-parameter{
          text-align: center;
          &-value{
            font-weight: bold;
            font-size: 3rem;
            @include media(md){
              font-size: 2rem;
            }
          }
        }
      }
      &-details{
        dl{
          dt{
            font-weight: normal;
          }
          dd{
            font-weight: bold;
            a{
              vertical-align: middle;
              padding-left: 5px;
              font-size: 20px;
            }
          }
        }
        &-energy{
          vertical-align: middle;
          border-top: 1px solid #d7e8fa;
          border-bottom: 1px solid #d7e8fa;
          dl{
            dt{
              padding-top: 5px;
            }
          }
          .energy{
            display: inline-block;
            width: 30px;
            height: 12px;
            margin: 0 1rem;
            background-color: $base-white;
            position: relative;
            &:after{
              content: "";
              display: block;
              position: absolute;
              top:1.78px;
              right: -4.2px;
              background-color: $base-white;
              z-index: 100;
              width: 8.485px;
              height: 8.485px;
              @include rotate(45deg);
            }
            &.A{
              background-color: #009136;
              &:after{
                background-color: #009136;
              }
            }
            &.B{
              background-color: #5ca82c;
              &:after{
                background-color: #5ca82c;
              }
            }
            &.C{
              background-color: #c9d100;
              &:after{
                background-color: #c9d100;
              }
            }
            &.D{
              background-color: #feed01;
              &:after{
                background-color: #feed01;
              }
            }
            &.E{
              background-color: #feb902;
              &:after{
                background-color: #feb902;
              }
            }
            &.F{
              background-color: #ea690b;
              &:after{
                background-color: #ea690b;
              }
            }
            &.G{
              background-color: #e3001b;
              &:after{
                background-color: #e3001b;
              }
            }
          }
        }
        &-others{
          dl{
            dt{
              &:after{
                content: ":";
              }
            }
          }
        }
      }
    }
    &-about{
      &-image{
        position: relative;
        a{
          display: block;
          color: $base-white;
          text-decoration: none;
          &:hover,
          &:focus{
            color: $base-white;
            text-decoration: none;
          }
        }
        img{
          width: 100%;
        }
        &-label{
          position: absolute;
          bottom: 0rem;
          right: 0;
          background-color: $main-color;
          padding: 2rem;
          font-size: 2rem;
          @include media(xxs){
            bottom: 4rem;
          }
          @include media(xs){
            bottom: 3.6rem;
          }
          @include media(sm){
            bottom: 3.3rem;
          }
          @include media(md){
            bottom: 3rem;
          }
        }
      }
      &-description{
        &-icons{
          padding-top: 2rem;
          a{
            span{
              padding-left: 2rem;
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
}

.breadcrumb-navigation{
  ul{
    padding-left: 0;
    margin-left: 0;
    li {
      padding-left: 0;
      padding-right: 2rem;
      display: inline;
      font-weight: bold;
      &:before{
        left:0;
        width: 0;
        background: none;
      }

    }
      li+li:before {
        padding: 0 1rem;
        content: "|";
        top: -0px;
        left: -2.5rem;
        @include media(md){
          left: -2.3rem;
        }
        @include media(lg){
          top:-2px;
        }
      }
      a{
        color: $second-color;
        font-weight: normal;
        text-decoration: none;
        &:hover,
        &:focus{
          color: $second-color;
          text-decoration: underline;
        }
      }
  }
}

.detail-container,
.contact-container,
.offering-container-sm{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.offering-container-sm{
  text-align: center;
  h3{
    color: $second-color;
    &:after{
      display: none;
    }
  }
}
