@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_variables.scss";

.main-color-bgr{
  background-color: $main-color;
  text-align: center;
}

.second-color-bgr{
  background-color: $second-color;
  text-align: center;
}

.light-blue-bgr{
  background-color: #D5E8FB;
}

.animate-fade{
  animation: animatefade 5s;
}

@keyframes animatefade {
  from {
    @include opacity(0);
  } to {
    @include opacity(1);
  }
}

.residence{
  background: url('../images/sidlo.png');
  min-height: 35rem;
  background-position: center;
  background-size: cover;
}

hr{
  margin: 3rem auto;
  width: 14rem;
  border: none;
}

h4{
  font-size: 2.5rem;
  @include media(md){
    font-size: 2rem;
  }
}

.ref{
  padding-top: 10px;
  text-transform: uppercase;
  color: $base-white;
  a{
    text-decoration: none;
    color: $base-white;
    &:hover,
    &:focus{
      text-decoration: none;
      color: $base-white;
    }
  }
}

.header-helper{
  height: 50rem;
}
