
@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

%hr-line{
  margin: 40px auto;
  display: block;
  height: 2px;
  border: 0;
}

.pux-container{
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-left;
    padding-right: $container-padding-right;
    max-width: $container-max-width;
    &:after{
        display: block;
        content: "";
        clear: both;
    }
    @include media(md){
        padding-left: $container-padding-left-md;
        padding-right: $container-padding-right-md;
    }
}

.pux-container{
    .row{
        @include flex-block;
        @include flex-wrap(wrap);
        margin-left: $row-margin-left;
        margin-right: $row-margin-right;
        @include media(md){
          margin-left: $row-margin-left-md;
          margin-right: $row-margin-right-md;
        }
    }
}

.pux-container{
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
    .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
    .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
    .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
    .col-xl-auto{
        padding-left: $col-padding-left;
        padding-right: $col-padding-right;
        @include media(md){
          padding-left: $col-padding-left-md;
          padding-right: $col-padding-right-md;
        }
    }
}

.pux-fluid-container{
    padding-left: $fluid-container-padding-left;
    padding-right: $fluid-container-padding-right;
    @include media(md){
      padding-left: $fluid-container-padding-left-md;
      padding-right: $fluid-container-padding-right-md;
    }
    @include media(xl){
      padding-left: $fluid-container-padding-left-xl;
      padding-right: $fluid-container-padding-right-xl;
    }
}

header{
  background: $second-color;
  position:fixed;
  width: 100%;
  top:0;
  z-index: 444;
  @include opacity(0.85);
  .header{
    margin: auto;
    transition: 0.6s;
    padding-top: 30px;
    padding-bottom: 30px;
    @include flex-block;
    @include align-items(center);
    @include justify-content(space-between);
    &-logo{
      a{
        display:inline-block;
        span{
          display:none;
        }
        img{
          max-width: 73px;
          //height: 5rem !important;
        }
      }
    }
    &-menu{
      display:none;
      position: absolute;
      top:5rem;
      z-index: 77;
      left:0;
      background: $second-color;
      width: 100%;
      text-transform: uppercase;
      @include calc("max-height", "100vh - 5rem");
      @include media($menu-break){
        display:block;
        position: static;
        background: none;
        width:auto;
      }
      ul{
        margin:0;
        padding:0;
        list-style: none;
        @include media($menu-break){
          @include flex-block;
          @include align-items(center);
        }
        li{
          display: block;
          position: relative;
          @include media($menu-break){
            position: static;
            margin:0 1rem;
          }
          &:last-child{
            @include media(md){
              display: none;
            }
          }
          a{
            display: block;
            position: relative;
            padding: 1.5rem 1.5rem;
            color:$base-white;
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: 0;
              left: 0;
              background-color: $main-color;
              @include opacity(0);
              @include transform(scaleX(0));
              @include transition(400ms);
            }
            &:hover:after,
            &:focus:after {
              @include opacity(1);
              @include transform(scaleX(1));
            }
          }
          &.Highlighted{
            a:after{
              @include opacity(1);
              @include transform(scaleX(1))
            }
          }
          ul{
            background: $second-color;
            display: none;
            width:100%;
            @include opacity(1);
            visibility: visible;
            @include transition;
            @include media($menu-break){
              position: absolute;
              width:20rem;
              visibility: hidden;
              @include opacity(0);
              display: block;
            }
            li{
              a{
                &:focus,
                &:hover{

                }
              }
            }
          }
          &:hover{
            & > ul {
              visibility: visible;
              @include opacity(1);
            }
          }
          &.open{
            .menu-openner{
              &:after{
                @include rotate(0deg);
              }
            }
            ul{
              display:block;
            }
          }
        }
      }
      .menu-openner{
        position: absolute;
        top:0;
        right:0;
        background: $main-color;
        color:#fff;
        width: 6rem;
        height: 6rem;
        @include media($menu-break){
          display: none;
        }
        &:after,
        &:before{
          content:"";
          width:70%;
          height:2px;
          background:#fff;
          position: absolute;
          left:15%;
          top:50%;
          margin-top:-1px;
        }
        &:after{
          @include rotate(90deg);
          @include transition;
        }
      }
    }
    &-button{
      display: none;
      @include media(md){
        display: block;
      }
    }
    &-hamburger{
      cursor: pointer;
      z-index: 333;
      @include media(md){
        display: none;
      }
      .open-menu{
        width:$hamburger-width;
        height:$hamburger-width;
        position: relative;
        display: block;
        span{
          width:$hamburger-width - 1rem;
          position: absolute;
          left:0.5rem;
          height:2px;
          background: $main-color;
          margin-top:-1px;
          top:50%;
          @include transition;
          &:before,
          &:after{
            content:"";
            width:$hamburger-width - 1rem;
            left:0;
            height:2px;
            background: $main-color;
            position: absolute;
            @include transition;
          }
          &:before{
            top:-1rem;
          }
          &:after{
            bottom:-1rem;
          }
        }
      }
    }
    &.open{
      .header-hamburger{
        .open-menu{
          span{
            background: transparent;
            &:before{
              top:0;
              @include rotate(45deg);
            }
            &:after{
              top:0;
              @include rotate(-45deg);
            }
          }
        }
      }
      .header-menu{
        display: block;
      }
    }
  }
}

.EditMode,
.DesignMode {
  header {
    position: static;
  }
}

main{
  margin-top: -35rem;
}

footer{
  margin: 0;
  padding: 0;
  background-color: $main-color;
  width: 100%;
  .row{
    margin: 0;
    h4{
      text-transform: uppercase;
    }
  }

}

.is-xxl{
    display:none;
    @include media(xxl){
        display:block;
    }
}

.ico-item{
  &-image{
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 5rem;
    float: left;
  }
  &-content{
    &-name{
      padding-bottom: 1rem;
      font-size: 2.5rem;
      font-weight: bold;
      @include media(md){
        font-size: 2rem;
      }
    }
  }
}

.building-item{
  position: relative;
  @include transition;
  &-image{
    position: relative;
    padding: 0;
    &-label{
      color: $base-white;
      text-transform: uppercase;
      padding: 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $second-color;
      z-index: 50;
    }
    img{
      width: 100%;
    }
  }
  &-content{
    position: relative;
    height: 7.5rem;
    @include media(md){
      height: 5.5rem;
    }
    &-price{
      padding: 1.5rem 2rem;
      float: right;
      color: $base-white;
      background-color: $main-color;
    }
    &-more{
      padding: 1.5rem 2rem;
      text-decoration: underline;
      float: left;
    }
    &:after {
      content: "";
      z-index: -1;
      position: absolute;
      width: 0px;
      height: 7.75rem;
      bottom: 1rem;
      right: 0;
      background-color: $main-color;
      @include transition(600ms);
      @include media(md){
        height: 5.5rem;
        bottom: 0.1rem;
      }
    }
  }
  &:hover,
  &:focus{
    color: $base-white!important;
    @include transition(500ms);
    .building-item-content:after{
      color: $base-white;
      width: 100%;
    }
  }
}

.header-logo{
  cursor: pointer;
  z-index: 1000;
  &{
    img{
      @include transition;
    }
  }
  &:hover,
  &:focus{
    width: 73px;
    height: 40px;
    background: url('../images/logo.png');
    background-size: 73px 40px;
    &{
      img{
        @include opacity(0);
      }
    }
  }
}

.logo-main{
  z-index: 9;
  img{
    margin-top:55rem;
    margin-bottom:-3.5rem;
    z-index:9;
    position:relative;
  }
}

.jacket-container{
  //padding-bottom: 64px;
  img{
    z-index:-1;
  }
  div{
    margin-top: -40rem;
    //margin-bottom:35rem;
    .btn-move{
      margin-top:30rem;
      a{
        font-size: 3rem;
        position:relative;
        right:1rem;
        bottom:7rem;
        @include media(md){
          right: 0.5rem;
          bottom: 5rem;
        }
      }
    }
  }
  #deal{
    margin-top: 20rem;
    padding-top: 10rem;
    padding-bottom: 60px;
    color: $base-white;
    h3{
      color: $second-color;
    }
    hr:first-of-type{
      @extend %hr-line;
      border-top: 2px solid $second-color;
    }
    span{
      font-size: 7.5rem;
      color: $second-color;
    }
  }
}

.cooperation-container{
  h3{
    color: $main-color;
  }
  hr{
    @extend %hr-line;
    border-top: 2px solid $main-color;
  }
}

.team-container{
  hr{
    @extend %hr-line;
    border-top: 2px solid $second-color;
  }
  .row{
    div{
      .person-item{
        padding: 0.5rem;
        &-image{
          position: relative;
          .portrait{
            //padding: 0.01rem;
            @include border-radius(1000px);
          }
          &:after{
            content: url('../images/motylek_blue.png');
            //width: 129px;
            //height: 52px;
            display: block;
            position: relative;
            top: -4.5rem;
            @include opacity(0);
            @include transform(scale(0.3));
            @include transition(500ms);
            @include media(md){
              top: -3rem;
            }
          }
        }
        .naperson-item-content{
          font-weight: bold!important;
          .naperson-item-content-email{
            a{
              text-decoration: none;
              color: $second-color;
            }
          }
        }
        &:hover{
          color: $base-white;
          .naperson-item-content-email{
            a{
              text-decoration: none;
              color: $base-white;
            }
          }
          .person-item-image{
            &:after{
              @include opacity(1);
              @include transform(scale(1));
            }
          }
        }
      }
    }
  }
}

.number-item{
  h1{
    font-size: 10rem;
    color: $main-color!important;
  }
  h4{
    font-weight: bold;
  }
  &.framed{
    @include media(md){
      border-left:2px solid $second-color;
      border-right:2px solid $second-color;
    }
  }
}

.career-container{
  img{
    width: 80%;
    display: block;
    margin: auto;
    @include media(md){
      width: 100%;
    }
  }
  hr{
    @extend %hr-line;
    margin-left: 0;
    border-top: 2px solid $second-color;
  }
  h4{
    font-weight: bold;
  }
}

.offering-container{
  hr{
    @extend %hr-line;
    border-top: 2px solid $second-color;
  }
}

.foot-container{
  height:96.5%;
  width:100%;
  .text-colum{
    padding-left:30px
  }
  a{
    font-size: 2.5rem;
  }
}
