
@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_variables.scss";

@import "project-layout.scss";
@import "project-typography.scss";
@import "project-form.scss";
@import "selectric.scss";
@import "datepicker.scss";
@import "checkbox.scss";

@import "print.scss";

body{
  color: $second-color;
}

.header-logo{
  z-index: 1000;
}

.blue-orange-button{
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: $second-color;
  color: $main-color;
  border: 1px solid $main-color;
  @include transition;
  &:hover,
  &:focus{
      background-color: $main-color;
      color: $second-color;
  }
}

.classic-button{
  padding: 2rem 3rem;
  text-decoration: none;
  @include transition;
  &.orange{
    background-color: $main-color;
    color: $base-white;
  }
  &.orange:hover,
  &.orange:focus{
      background-color: darken($main-color,10);
  }
  &.blue{
    background-color: $second-color;
    color: $base-white;
  }
  &.blue:hover,
  &.blue:focus{
      background-color: $main-color;
      //background-color: lighten($second-color,10);
  }
}

.rounded-butt{
  padding: 1rem 3rem;
  text-decoration: none;
  @include border-radius(5rem);
  @include transition;
  &.white{
    color: $base-white;
    border: 1px solid $base-white;
  }
  &.white:hover,
  &.white:focus{
      background-color: $base-white;
      color: $main-color;
  }
  &.orange{
    color: $main-color;
    border: 1px solid $main-color;
  }
  &.orange:hover,
  &.orange:focus{
      background-color: $main-color;
      color: $base-white;
  }
}

.building{
  margin-left: 20px;
  width: 90%;
  div{
    position: relative;
    .picture{
      width: 100%;
    }
    .badg{
      padding: 15px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $second-color;
      z-index: 600;
    }
  }
  a{
    position: relative;
    display: block;
    @include transition;
    span{
      padding: 1.5rem 2rem;
      height: 7.5rem;
      @include media(md){
        height: 5.5rem;
      }
      &.button{
        color: $base-white;
        background-color: $main-color;
      }
    }
    &:hover{
      color: $base-white!important;
      @include transition(500ms);
    }
    &:after {
      content: "";
      z-index: -1;
      position: absolute;
      width: 0px;
      height: 7.5rem;
      bottom: -7.5rem;
      right: 0;
      background-color: $main-color;
      @include transition(600ms);
      @include media(md){
        height: 5.5rem;
        bottom: -5.5rem;
      }
    }
    &:hover:after,
    &:focus:after {
      color: $base-white;
      width: 100%;
    }
  }
}

.main-color-bgr{
  background-color: $main-color;
}

.second-color-bgr{
  background-color: $second-color;
}

.orange{
  color: $main-color;
}

.underline{
  text-decoration: underline;
}

.uppercase{
  text-transform: uppercase;
}

.animate-fade{
  animation: animatefade 5s;
}

@keyframes animatefade {
  from {
    @include opacity(0);
  } to {
    @include opacity(1);
  }
}

#header{
  width: 85%;
  margin: auto;
}

#head-logo{
  &:hover,
  &:focus{
    max-width: 73px;
    content: url('../images/logo.png');
  }
}

#Logo{
  z-index: 9;
  img{
    margin-top:20rem;
    margin-bottom:-3.5rem;
    z-index:9;
    position:relative;
  }
}

#jacket{
  //padding-bottom: 64px;
  img{
    z-index:-1;
  }
  div{
    margin-top: -40rem;
    margin-bottom:35rem;
    #move{
      margin-top:20rem;
      a{
        position:relative;
        right:1rem;
        bottom:7rem;
        @include media(md){
          right: 0.5rem;
          bottom: 5rem;
        }
      }
    }
  }
  #deal{
    padding-top: 15rem;
    padding-bottom: 64px;
  }
}

#team{
  .row{
    div{
      div{
        padding: 0.5rem;
        div{
          position: relative;
          .portrait{
            //padding: 0.01rem;
            @include border-radius(1000px);
          }
          .tie{
            opacity: 0;
            margin-top: -6rem;
            @include transform(scale(0.3));
            @include transition(500ms);
            @include media(md){
              margin-top: -5rem;
            }
          }
        }
        .name{
          h4,
          p{
            font-weight: bold!important;
          }
        }
        &:hover{
          color: $base-white;
          div.image{
            .tie{
              @include opacity(1);
              @include transform(scale(1));
            }
          }
        }
      }
    }
  }
}

#numbers{
  .row{
    div{
      h1{
        font-size: 10rem;
      }
      h4{
        font-weight: bold;
      }
      &.framed{
        @include media(md){
          border-left:2px solid $second-color;
          border-right:2px solid $second-color;
        }
      }
    }
  }
}

#foot-colums{
  height:96.5%;
  padding-top:12.5rem;
  width:100%;
  .text-colum{
    padding-left:30px
  }
}

hr{
  margin: 40px auto;
  width: 200px;
  border: none;
  height: 2px;
  &.orange{
    background-color: $main-color;
  }
  &.blue{
    background-color:$second-color;
  }
}

h4{
  font-size: 2rem;
}

form{
  .row{
    input,
    textarea{
      padding: 0 20px;
      font-weight: bold;
      border: 2px solid $main-color;
      background-color: lighten($main-color, 30);
      &::placeholder{
        color: lighten($base-black, 60);
      }
    }
    textarea{
      padding:20px;
    }
    &.check{
      position: relative;
      label{
        margin: 10px 35px 0px 2px;
      }
    }
    button{
      width:33.333%;
      padding-top:3.5px;
      padding-bottom:3.5px;
      border:0;
      cursor: pointer;
      &:hover{
        background-color: darken($main-color,5)!important;
      }
    }
  }
}
