@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

main{
  margin-top:15rem;
}

.person-item{
  padding: 3rem;
  color: $second-color!important;
  &-image{
    width: 33%;
    padding: 1rem 5rem 20rem 0;
    position: relative;
    //padding-right: 5rem;
    float: left;
    .portrait{
      @include border-radius(1000px);
    }
    &:after{
      content: "";
    }
  }
  .naperson-item-content{
    margin-left: 5rem;
    font-weight: normal!important;
    &-name{
      font-size: 3rem;
    }
    &-specialization{
      &-title{
        color: $main-color!important;
      }
    }
    &-motto{
      font-style: italic;
      &:before{
        content: '"';
      }
      &:after{
        content: '"';
      }
    }
    &-email{
      a{
        text-decoration: none;
        color: $second-color!important;
        span{
          vertical-align: middle;
          font-size: 3rem;
          @include media(md){
            font-size: 2rem;
          }
        }
      }
    }
    &-phone{
      span{
        position: relative;
        top: 0.2rem;
        font-size: 3rem;
        @include media(md){
          font-size: 2rem;
        }
      }
    }
    &-id{
      position: relative;
      left: 3rem;
    }
  }
}

.btn-orange{
  background-color: $main-color;
  color: $base-white;
  &:hover,
  &:focus{
    background-color: $base-white;
    color: $main-color;
  }
}

.team-container{
  h3{
    color: $main-color;
  }
}
