@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

.person-card{
  margin-bottom: 3rem;
  padding-top: 5rem;
  padding-right: 3rem;
  padding-left: 2rem;
  @include media(md){
    display: flex;
    align-items: flex-start;
  }
  color: $second-color!important;
  .person-item-image{
    position: relative;
    text-align: center;
    @include media(md){
      padding: 1rem 1rem 0;
      width: 40%;
    }
    @include media(lg){
      padding: 3rem 1rem 0;
      width: 45%;
    }
    .portrait{
      width: 50%!important;
      @include media(md){
        width: 100%!important;
      }
      @include border-radius(1000px);
    }
  }
  .naperson-item-content{
    font-weight: normal!important;
    @include media(xs){
      font-size: 2rem!important;
    }
    @include media(md){
      font-size: 1.5rem!important;
      flex: 1;
    }
    &-name{
      font-size: 3rem;
    }
    &-specialization{
      &-title{
        color: $main-color!important;
      }
    }
    &-motto{
      font-style: italic;
      &:before{
        content: '"';
      }
      &:after{
        content: '"';
      }
    }
    &-email{
      a{
        text-decoration: none;
        color: $second-color!important;
        @include media(xxs){
          font-size: 3rem!important;
        }
        @include media(md){
          font-size: 1.5rem!important;
        }
        span{
          vertical-align: middle;
          font-size: 4rem;
          @include media(md){
            font-size: 3rem;
          }
        }
      }
    }
    &-phone{
      span{
        position: relative;
        top: 0.5rem;
        font-size: 4rem;
        @include media(md){
          font-size: 3rem;
        }
      }
    }
    &-id{
      position: relative;
      top: -1rem;
      span{
        @include opacity(0);
        font-size: 4rem;
        @include media(md){
          font-size: 3rem;
        }
      }
    }
  }
}

.btn-orange-bgr{
  margin-top: 5rem;
  background-color: $main-color;
  color: $base-white;
  &:hover,
  &:focus{
    background-color: $base-white;
    color: $main-color;
  }
}

.team-container{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  .person-card{
    margin: 2rem 0;
    box-shadow: 2px 2px 1px #eff8ff;
    background-color: #f7fbfe;
    .person-item-image{
      margin: 3rem 0;
      position: relative;
      @include media(md){
        padding: 0 1rem 0 0;
        width: 30%!important;
      }
      @include media(lg){
        padding: 0 1rem 0 0;
        width: 45%!important;
      }
    }
  }
}
