@import "_mixins/pux/breakpoints.scss";
@import "_mixins/pux/css-rules.scss";
@import "_mixins/pux/scale.scss";
@import "_variables.scss";

.tip-container{
  .ico-item{
    border-bottom: 2px solid #d7e8fa;
    @include media(md){
      width: 50%;
      margin: auto;
    }
    @include media(lg){
      width: 33%;
      margin: auto;
    }
    &:last-child{
      border:none;
    }
  }
}

.money{
  margin: auto;
  width: 100%;
  position: relative;
  @include media(md){
    width: 75%;
  }
  &-bill-1{
    position: absolute;
    top: 0;
    left: 5%;
    @include transform(scale(0.4) rotate(105deg));
    @include media(lg){
      @include transform(scale(0.8) rotate(105deg));
    }
  }
  &-bill-2{
    position: absolute;
    top: 15rem;
    left: 20%;
    z-index: -1;
    @include transform(scale(0.5));
    @include media(lg){
      @include transform(scale(1));
    }
  }
  &-bill-3{
    position: absolute;
    top: 12rem;
    left: 40%;
    @include transform(scale(0.45) rotate(120deg));
    @include media(md){
      @include transform(scale(1.3) rotate(120deg));
    }
    @include media(lg){
      @include transform(scale(1) rotate(120deg));
    }
    @include media(xxl){
      @include transform(scale(1.3) rotate(120deg));
    }
  }
  &-bill-4{
    position: absolute;
    top: 10rem;
    left: 60%;
    @include transform(rotate(35deg));
    z-index: -1;
    @include transform(scale(0.5));
    @include media(lg){
      @include transform(scale(1));
    }
  }
  &-bill-5{
    position: absolute;
    top: 5rem;
    left: 80%;
    @include transform(scale(0.4) rotate(75deg));
    @include media(lg){
      @include transform(scale(0.8) rotate(75deg));
    }
    @include transform(scale(0.8) rotate(75deg));
  }
}

.light-blue-bgr.after-money{
  margin-top: 23rem;
}
